* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header {
    height: 100svh;
}
.header__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.header__btns {
    width: 315px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.btn {
    cursor: pointer;
    border: 2px solid black;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__btn_move {
    background: rgb(33, 195, 33);
}

.header__btn_stay {
    background: rgb(250, 6, 6);
}